<%= form_for @product do |p| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@product.errors.count, "error") %>.
      </div>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= p.label :name, for: "name" %>
      <%= p.text_field :name, id:"name", class: "form-control",
                              placeholder: "Name"%>
    </div>

    <div class="form-group col-md-6">
      <%= p.label :brand, for: "brand" %>
      <%= p.collection_select :brand_id, Brand.all, :id, :name, {prompt: 'Please select a brand'},
                              {class: "form-control"}%>

    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= p.label :descriptions, for: "description" %>
      <%= p.text_area :description, id:"description", class: "form-control",
                              placeholder: "Description"%>
    </div>
  </div>


    <div class="form-group">
      <%= p.label :price, for: "price" %>
      <%= p.text_field :price, step:"any", id:"price", class: "form-control",
                              placeholder: "Price"%>
    </div>

    <P>
      <%= p.submit "Save", class:"btn btn-default"%>
    </P>

<% end %>
