<div class="row">

  <div class="form-group col-md-6">
    <h1 class="text-title" >Products list</h1>
    <%= link_to "Add Product", new_product_path %>
  </div>

  <div class="form-group col-md-6">
    <h2 class="text-title">Sum of prices: <mark><%= @total.round(2) %></mark></h2>
  </div>
</div>

<div class="row">
  <div>
    <% @products.each do |p| %>
      <hr>
      <u class="text-uppercase"><%= link_to p.name, p%></u><br>
      <%= p.brand.name %><br />
      <%= p.description %><br />
      <%= p.price %><br />
      <br>
    <% end %>
  </div>
</div>
