<div class="row">
  <div>
    <h1 class="text-title" >Products list</h1>
    <%= link_to "Add Product", new_product_path %>
  </div>
  <div>
    <% @products.each do |p| %>
      <hr>
      <u class="text-uppercase"><%= link_to p.name, p%></u><br>
      <%= p.brand %><br />
      <%= p.description %><br />
      <%= p.price %><br />
      <br>
    <% end %>
  </div>
</div>
